# {{ ansible_managed }}

<VirtualHost {{apache_host}}:{{apache_port_http}}>

    ServerAdmin                           {{ admin_email }}
    ServerName                            {{ host }}

    ServerAlias                           www.{{ host }}

    DocumentRoot {{ docroot }}.current

    ErrorLog                     /var/log/apache2/{{ host }}/error.log
    CustomLog                    /var/log/apache2/{{ host }}/access.log common

    <Directory {{ docroot }}.current/>

        Options +Indexes +FollowSymLinks
        DirectoryIndex index.php
        Order allow,deny
        Allow from all
        AllowOverride All
        Require all granted

    </Directory>

</VirtualHost>