<?php

// {{ ansible_managed }}

$aliases['cur'] = array(
  'root' => '{{ vhost_base_path }}/{{ item['host'] }}/public_html',
  'path-aliases' => array(
    '%dump-dir' => '/home/{{ item['user'] }}/.drush/dbdumps',
    '%ard-dir' => '/home/{{ item['user'] }}/drush-backups/archive-dump/logrotate/',
    '%files' => '{{ vhost_base_path }}/{{ item['host'] }}/public_html/sites/default/files',
    '%modules' => '{{ vhost_base_path }}/{{ item['host'] }}/public_html/sites/all/modules',
    '%themes' => '{{ vhost_base_path }}/{{ item['host'] }}/public_html/sites/all/themes',
  ),
);

$aliases['bld'] = array(
  'root' => '{{ vhost_base_path }}/{{ item['host'] }}/public_html.build',
  'path-aliases' => array(
    '%dump-dir' => '/home/{{ item['user'] }}/.drush/dbdumps',
    '%ard-dir' => '/home/{{ item['user'] }}/drush-backups/archive-dump/logrotate/',
    '%files' => '{{ vhost_base_path }}/{{ item['host'] }}/public_html.build/sites/default/files',
    '%modules' => '{{ vhost_base_path }}/{{ item['host'] }}/public_html.build/sites/all/modules',
    '%themes' => '{{ vhost_base_path }}/{{ item['host'] }}/public_html.build/sites/all/themes',
  ),
);

{% if item['source_remote_host'] is defined and item['source_remote_port'] is defined %}
$aliases['src'] = array(
  'remote-host' => "{{ item['source_remote_host'] }}",
  'remote-user' => "{{ item['source_remote_user'] }}",
  {% if item['source_docroot'] is defined %}
  'root' => "{{ item['source_docroot'] }}",
  'path-aliases' => array(
    '%files' => "{{ item['source_docroot'] }}/sites/default/files",
  ),
  {% endif  %}
  {% if item['source_proxy_credentials'] is defined %}
    {% if item['source_proxy_port'] is defined %}
  'ssh-options' => '-o "ProxyCommand ssh -p {{ item['source_proxy_port'] }} {{ item['source_proxy_credentials'] }} nc %h %p"',
    {% else %}
  'ssh-options' => '-o "ProxyCommand ssh {{ item['source_proxy_credentials'] }} nc %h %p"',
    {% endif  %}
  {% endif  %}
  {% if item['source_ssh_options'] is defined %}
    {% if item['source_remote_port']|default("") != "" %}
  'ssh-options' => '-p {{ item['source_remote_port']}} {{ item['source_ssh_options'] }}',
    {% else %}
  'ssh-options' => '{{ item['source_ssh_options'] }}',
    {% endif  %}
{% endif  %}
);
